# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# pytest files
/pytest_caplog/*

logging.log
**/sonarlint
**/inspectionProfiles
/.idea/pytest_caplog.iml
